:root {
    --background: #4C4967;
    --almostWhite: #f3ded4;
    --violet2: #1C1932;
    --softGrey: #F6F7FB;
    --hardGrey: #8B939F;
    --darkBlue: #2C304A;
    --darkBlue2: #1B1E34;
    --greyBlue: #4C4967;
    --lightBlue: #45A8FB;
    --blue: #306BF3;
    --mossGreen: #149971;
    --white: #ffffff;
    --darkGrey: #9A9DA3;
    --greenSuccess: #36C970;
    --redError: #EF5252;
    --red2: #c23a3a;
}

@font-face {
    font-family: 'PlovdivSans';
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/PlovdivSans.otf");
}

@font-face {
    font-family: 'PlovdivScript';
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/PlovdivScript.otf");
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

tl-collection-table,
tl-object-table,
tl-list-table {
    width: 100%;
}

.info-container {
    width: 100%;

    .simple-table {
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid var(--darkBlue);

        tr {
            background-color: var(--hardGrey);

            td {
                height: 2rem;
                padding: 0 1rem;
                border: 1px solid var(--darkBlue);
                color: var(--darkBlue);

                white-space: nowrap;
                overflow: hidden;

                &:first-child {
                    width: 20%;
                    position: sticky;
                    left: 0;
                }
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: var(--softGrey);
                }

                &[ng-reflect-router-link]:hover,
                td[ng-reflect-router-link]:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }

        thead+tbody {
            tr {
                background-color: var(--softGrey);

                &:nth-child(even) {
                    background-color: var(--hardGrey);
                }
            }
        }
    }
}
