<div class="info-container" *ngIf="collection$ | async as collection; else loading">
  <h2 *ngIf="collection.length">{{ collectionName }}</h2>
  <table class="simple-table"  *ngIf="collection.length; else noProperties">
    <thead>
      <tr>
          <td *ngFor="let cell of collection | headers">{{ cell  || "-"  }}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of collection | entries" [routerLink]="link(row[0][1])">
          <td *ngFor="let cell of row">
              <tl-possible-link [key]="cell[0]" [value]="cell[1]">
                {{ cell[1] || '-'}}
              </tl-possible-link>
          </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>Loading {{ collectionName }} ...</ng-template>
<ng-template #noProperties>No {{ collectionName }}.</ng-template>
