<div class="app-container">
    <div class="header">
        <div class="left-side" [routerLink]="['/']">
            TradeLayer Explorer
        </div>
        <div class="right-side">
            <input 
                [(ngModel)]="searchValue"
                class="search-box" 
                placeholder="Transaction or LTC address" 
                (keydown.enter)="search(searchValue)"
            >
            <button (click)="search(searchValue)">GO</button>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
