<div class="app-container">
    <div class="header">
        <div class="left-side" (click)='navigateToHome()'>TradeLayer Explorer</div>
        <div class="right-side">
            <input 
                [disabled]='searchInProgress'
                [(ngModel)]='searchValue'
                class='search-box' 
                placeholder="Transaction or LTC address" 
                (keydown.enter)='search()'
            >
            <button (click)='search()' [disabled]='searchInProgress'>GO</button>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>