.main-info-container {
    width: 30%;
}

.tokens {
    tr {
        cursor: pointer;
        &:hover {
                opacity: 0.7;
            td {
                opacity: 0.7;
            }
        }
    }
}
.info-container {
    margin-top: 3rem;
    max-width: 90%;
    overflow-x: auto;
}
