.main-info-container {
    width: 30%;
}

.tokens-info-container {
    margin-top: 3rem;
    tr {
        cursor: pointer;
        &:hover {
                opacity: 0.7;
            td {
                opacity: 0.7;
            }
        }
    }
}