<div class="page address-page-container">
    <div class="title">
        {{ address }}
    </div>
    <div class="balance-container title" *ngIf="isWinningAddress$ | async as isWinningAddress">
        <h3 *ngIf="isWinningAddress">This is a winning Address!</h3>
    </div>
    <div class="balance-container"  *ngIf="balanceData$ | async as balanceData; else loading">
        <table class="simple-table" *ngIf="balanceData.length; else noData">
            <tr>
                <td *ngFor="let headerCell of balanceData | headers">
                    {{ headerCell  || "-"  }}
                </td>
            </tr>
            <tr *ngFor="let row of balanceData | entries">
                <td *ngFor="let cell of row">
                    <tl-possible-link [key]="cell[0]" [value]="cell[1]"></tl-possible-link>
                </td>
            </tr>
        </table>
    </div>
    <div class="balance-container" *ngIf="unvestedBalance$ | async as unvestedBalance; else loading">
        <h3 *ngIf="unvestedBalance">Unvested Balance</h3>
        <table class="simple-table"  *ngIf="unvestedBalance">
            <tr *ngFor="let row of unvestedBalance | keyvalue">
                <td>{{ row.key }}</td>
                 <td><tl-possible-link [key]="row.key" [value]="row.value"></tl-possible-link></td>
            </tr>
        </table>
      </div>
</div>
<ng-template #loading>Loading...</ng-template>
<ng-template #noData>No data!</ng-template>
