<div class="page address-page-container">
    <div class="title">
        {{ address }}
    </div>
    <div class="balance-container"  *ngIf="balanceData$ | async as balanceData; else loading">
        <table class="simple-table" *ngIf="balanceData.length; else noData">
            <tr>
                <td *ngFor="let headerCell of balanceData | headers">
                    {{ headerCell  || "-"  }}
                </td>
            </tr>
            <tr *ngFor="let row of balanceData | values">
                <td *ngFor="let cell of row">{{ cell  || "-"  }}</td>
            </tr>
        </table>
    </div>
</div>
<ng-template #loading>Loading...</ng-template>
<ng-template #noData>No data!</ng-template>
